@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <div class="btn-group">

        @foreach(var category in Model.Categories.Categories)
        {
            <form class="row g-3 align-items-md-start" method="post" asp-page-handler="select">
                <input asp-for="CategoryId"  hidden  value="@category.Id"/>
                <button class="btn btn-primary" type="submit">@category.Name</button>
            </form>
        }
    </div>
</div>
    
<div class="grid-offers-container">
    @foreach(var offer in Model.OfferList.Offers)
    {
        <div class="offers-row-grid-box" >
            <div  class="img">
               <img src="@offer.ImagePath" />
            </div>
            <div class="row-box-1">
               <h6 class="card-header"> @(offer.Name)</h6>
            </div>
            <div class="row-box-2">
                <p >
                   @offer.Description
                </p>
            </div>
        </div>
    }
</div>