@page
@model ThingsToReturn.Pages.FolloweOffersModel
@{
}


 
<h2 class="card-body">We found @Model.OfferList.Count advertisements</h2>
<div class="grid-offers-container">
    @foreach(var offer in Model.OfferList.Offers)
    {
        <div class="offers-row-grid-box-user" >
            <div  class="img-user">
               <img src="@offer.ImagePath" />
            </div>
            <div  class="loc-div ">
                <p class="card-body">
                    @offer.AddressVM.City
                </p>
            </div>
            <div class="row-box-1">
               <h6 class="card-header"> @(offer.Name)</h6>
            </div>
            <div class="row-box-2">
                <p >
                   @offer.Description
                </p>
            </div>
            <div class="button-del">
                <a asp-page="/Offers/ConfirmFollowOffer" asp-route-id="@offer.Id" class="btn btn-success">Follow</a>
            </div>
        </div>
    }
</div>