@page
@model ThingsToReturn.Pages.OffersModel
@{
}


 <form class="row g-3 align-items-md-start" method="post" asp-page-handler="select">
    <div class="col-md-2">
        <label asp-for="FilterChoices.Name" class="form-label mt-4">Name</label>
        <input asp-for="FilterChoices.Name" class="form-control"/>
    </div>
    <div class="col-md-2">
        <label asp-for="FilterChoices.City" class="form-label mt-4">Cities</label>
        <select asp-for="FilterChoices.City" class="form-control">
            <option></option>
            @foreach(var city in Model.cities)
            {
                <option value="@city">@city</option>
            }
        </select>
        <span asp-validation-for="FilterChoices.City" class="text-danger"></span>
    </div>
   <div class="col-md-2">
        <label asp-for="FilterChoices.CategoryId" class="form-label mt-4">Categories</label>
        <select asp-for="FilterChoices.CategoryId" class="form-control">
            <option selected></option>
            @foreach(var category in Model.CategoryList.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="FilterChoices.CategoryId" class="text-danger"></span>
    </div>
    <div  class="axis main-axis">
        <button class="btn btn-primary " type="submit">Szukaj</button>
    </div>
    <hr />
</form>

<h2 class="card-body">We found @Model.OfferList.Count advertisements</h2>
<div class="grid-offers-container">
    @foreach(var offer in Model.OfferList.Offers)
    {
        <div class="offers-row-grid-box-user" >
            <div  class="img-user">
               <img src="@offer.ImagePath" />
            </div>
            <div  class="loc-div ">
                <p class="card-body">
                    @offer.AddressVM.City
                </p>
            </div>
            <div class="row-box-1">
               <h6 class="card-header"> @(offer.Name)</h6>
            </div>
            <div class="row-box-2">
                <p >
                   @offer.Description
                </p>
            </div>
            <div class="button-del">
                <a asp-page="/Offers/ConfirmFollowOffer" asp-route-id="@offer.Id" class="btn btn-success">Follow</a>
            </div>
        </div>
    }
</div>